name: Auto Check-in Bot

on:
  schedule:
    # chạy mỗi ngày lúc 23:30 (giờ VN = UTC+7 → UTC = 16:30)
    - cron: "30 16 * * *"
  workflow_dispatch: # cho phép chạy tay

jobs:
  run-bot:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install

      - name: Install Playwright browsers
        run: npx playwright install chromium

      - name: Run bot
        env:
          EMAIL: ${{ secrets.EMAIL }}
          PASSWORD: ${{ secrets.PASSWORD }}
        run: node bot.js

      - name: Upload screenshot if exists
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: error-image
          path: error.png
          if-no-files-found: ignore
