name: Keep Alive Bot

on:
  schedule:
  - cron: "* * * * *"

  workflow_dispatch:

jobs:
  keepalive:
    runs-on: ubuntu-latest
    steps:
      - name: Wake up repo
        run: echo "repo is alive"
